$brand-primary: #FFFFFF; 
$color-palette: #f5f5f5;
$brand-hover: rgb(190, 190, 190);
$brand-accent: #ffcc00; 
$text-color: black;
$card-peach: rgb(230, 172, 161);
$card-green: rgb(0, 152, 72);
