.footer, .footer-mobile {
  font-size: 1.1rem;
  line-height: 2rem;
  border-image: linear-gradient(to bottom, green, blue,red, orange, yellow) 2;

  ul {
    padding-left: 0;
    li {
      font-weight: 500;
      margin-bottom: 9px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grid{
    padding: 20px;
}


  .footer-card {
    background-color: $color-palette;
  }

  .social-icons i {
    color: #000;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    &:hover {
      color: #28a745;
    }
  }

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
